/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */

p{
     background-color:#ffffff;
}

h1, h3{
     
     font-family: 'Oswald', sans-serif;
}

body {
     border: 1px solid gray;
     padding: 20px;
     font-family: 'Slabo 27px', serif;
}


/* antiquated name for my title, i meant for this to resize my images
but i realized that i could use bootstrap instead*/
.half{
border: 1px solid #ffffff;
}

.img-circle {
    border-radius: 30%;
    max-width: 10%;
    height: auto;
}

div .intro{
     text-align:center;
}


.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background-color: #EBDAD3;
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}